<!-- friend view component to show on dashboard -->

<div class="container-fluid p-0">
    <!-- section to collapse  -->
    <section class="container-fluid p-0" *ngIf="isFriendActive">

        <!-- section Header -->
        <div class="card card-header" data-bs-toggle="collapse" data-bs-target="#collapseGroup">
            <div class="row">
                <div class="col">
                    <h3>
                        Ram
                    </h3>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" routerLink="/dashboard/settleup">Settle Up</button>
                </div>
            </div>
        </div>

        <!-- section body -->
        <div class="collapse" id="collapseGroup">
            <div class="card card-body">
                <div class="d-flex">

                    <!-- delete group button -->
                    <button class="btn btn-primary m-1" type="button">Remove this friend</button>
                </div>

            </div>
        </div>

        <!-- expenses of this roup will be displayed here -->

        <div class="card card-body" data-bs-toggle="collapse" data-bs-target="#collapseExpense" routerLink="/dashboard/friends/expense">
            <div class="row">
                <div class="col">
                    <!-- collapse toggle on click on heading -->
                    <h3 routerLink="/dashboard/friends/expense" data-bs-toggle="collapse" data-bs-target="#collapseExpense">Expenses:</h3>
                </div>
                <div class="col text-end">
                    <button class="btn btn-primary" routerLink="/dashboard/friends/expense/add" data-bs-toggle="modal" data-bs-target="#addExpenseForm">Add Expense </button>
                </div>
            </div>
            <!-- route if is expanse is active -->
            <div class="row" *ngIf="isExpenseActive">
                <div class="collapse" id="collapseExpense">
                    <!-- expenses list goes here  -->
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>


    </section>

    <!--Edit Form Modal -->
    <div class="modal fade" id="addFriendForm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <app-add-edit-friends></app-add-edit-friends>
            </div>
        </div>
    </div>
</div>
