<div class="container">
    <h2>Dashboard</h2>
    <!-- show owe/owed and total amount  -->
    <nav class="card card-header p-0">
        <div class="row text-center">
            <div class="col">
                <h3>You owe</h3>
                <p>500 INR</p>
            </div>
            <div class="col">
                <h3>You owed</h3>
                <p>800 INR</p>
            </div>
            <div class="col">
                <h3>Total Balance </h3>
                <p>500 INR</p>
            </div>
        </div>

        <!-- To show menus in dashboard -->
        <div class="card card-body m-1 mb-0">
            <div class="row text-center">
                <div class="col">
                    <a class="text-black text-decoration-none" routerLink="/dashboard/group" data-bs-toggle="modal"
                        data-bs-target="#modalGroups">Group</a>
                </div>
                <div class="col">
                    <a class="text-black text-decoration-none" routerLink="/dashboard/friends" data-bs-toggle="modal"
                        data-bs-target="#modalFriends">Friends</a>
                </div>
                <div class="col">
                    <a class="text-black text-decoration-none" routerLink="/dashboard/transaction">Transaction list</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row m-0">

        <!-- TODO show groups and friends in modal box -->
        
            <!-- Group modal in dashboard-->
            <div class="modal fade p-0" id="modalGroups" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog w-100">
                    <div class="modal-content p-2">

                        <div class="card mb-2">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col col-auto text-start"><a class="text-black text-decoration-none"
                                            routerLink="/dashboard/group">Group</a>
                                    </div>
                                    <div class="col col-sm text-end"><a class="btn btn-sm btn-outline-primary"
                                            routerLink="/dashboard/group/add" data-bs-toggle="modal"
                                            data-bs-target="#addEditForm">Add+</a>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-unstyled">
                                    <li class="list-group-item" *ngFor="let group of groups">
                                        <a class="text-decoration-none text-dark" data-bs-toggle="modal"
                                            data-bs-target="#modalGroups" [routerLink]="['/dashboard/group/view',group]"
                                            routerLinkActive="router-link-active">{{group}}</a>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>


            </div>

            <!-- Friends modal in dashboard -->
            <div class="modal fade" id="modalFriends" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog w-100 w-sm-25">
                    <div class="modal-content p-2">

                        <div class="card mb-2">
                            <div class="card-header p-2">
                                <div class="row">
                                    <div class="col col-auto text-start">
                                        <a class="text-black text-decoration-none"
                                            routerLink="/dashboard/friends">Friends</a>
                                    </div>
                                    <div class="col col-sm text-end"><a class="btn btn-sm btn-outline-primary"
                                            routerLink="/dashboard/friends/add" data-bs-toggle="modal"
                                            data-bs-target="#addFriendForm">Add+</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-unstyled">
                                    <li class="list-group-item" *ngFor="let friend of friends">
                                        <a class="text-decoration-none text-dark" class="text-decoration-none text-dark"
                                            data-bs-toggle="modal" data-bs-target="#modalFriends"
                                            [routerLink]="['/dashboard/friends/view',friend]">{{friend}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        <!-- </nav> -->

        <main role="main" class="col m-0 mt-1 p-0">
            <!-- Main content goes here -->

            <!-- show component through routing -->
            <router-outlet></router-outlet>

        </main>


    </div>
</div>