<div class="container">
    <h2>Dashboard</h2>
    <!-- show owe/owed and total amount  -->
    <nav class="border border-success">
        <div class="row text-center">
            <div class="col">
                <h3>You owe</h3>
                <p>500 INR</p>
            </div>
            <div class="col">
                <h3>You owed</h3>
                <p>800 INR</p>
            </div>
            <div class="col">
                <h3>Total Balance </h3>
                <p>500 INR</p>
            </div>
        </div>
    </nav>
    <div class="row">
        <!-- Sidebar content goes here in desktop view -->
        <nav class="col-md-3 p-2 d-none d-md-block bg-light sidebar">

            <!-- Group Card -->
            <div class="card mb-2">
                <div class="card-header p-2">
                    <div class="row">
                        <div class="col col-auto text-start"><a class="text-black text-decoration-none" routerLink="/dashboard/group">Group</a></div>
                        <div class="col col-sm text-end"><a class="btn btn-sm btn-outline-primary" routerLink="/dashboard/group/add" data-bs-toggle="modal" data-bs-target="#addEditForm">Add+</a></div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let group of groups">
                            <a class="text-decoration-none text-dark" [routerLink]="['/dashboard/group/view',group]" routerLinkActive="router-link-active">{{group}}</a>
                        </li>
                    </ul>

                </div>
            </div>

            <!-- Friends Card -->
            <div class="card mb-2">
                <div class="card-header p-2">
                    <div class="row">
                        <div class="col col-auto text-start">
                            <a class="text-black text-decoration-none" routerLink="/dashboard/friends">Friends</a>
                        </div>
                        <div class="col col-sm text-end"><a class="btn btn-sm btn-outline-primary" routerLink="/dashboard/friends/add" data-bs-toggle="modal" data-bs-target="#addFriendForm">Add+</a></div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let friend of friends">
                            <a class="text-decoration-none text-dark" class="text-decoration-none text-dark" [routerLink]="['/dashboard/friends/view',friend]">{{friend}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header p-2">
                    <a class="text-black text-decoration-none" routerLink="/dashboard/transaction">Transaction list</a>
                </div>
            </div>

        </nav>

        <!-- Sidebar content goes here in mobile view -->

        <!-- group/friend list card -->
        <nav class="col-12 d-md-none bg-light sidebar">
            <div class="row ">
                <div class="col col-sm">
                    <!-- group card toggle button -->
                    <button class="btn d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#groupCollapse" routerLink="/dashboard/group">Group</button>
                    <div class="collapse" id="groupCollapse">

                        <!-- Group Card -->
                        <div class="card mb-2">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col col-auto"><a class="text-black text-decoration-none" routerLink="/dashboard/group">Group</a></div>
                                    <div class="col col-sm text-end"><a class="btn btn-sm btn-outline-primary" routerLink="/dashboard/group/add" data-bs-toggle="modal" data-bs-target="#addEditForm">Add+</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let group of groups">
                                        <a class="text-decoration-none text-dark" [routerLink]="['/dashboard/group/view',group]" routerLinkActive="router-link-active">{{group}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <button class="btn d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#friendCollapse" routerLink="/dashboard/friends">Friend</button>
                    <!-- Friends Card -->
                    <div class="collapse" id="friendCollapse">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col col-auto"><a class="text-black text-decoration-none">friends</a></div>
                                    <div class="col col-sm text-end"><a class="btn btn-sm btn-outline-primary" routerLink="/dashboard/friends/add" data-bs-toggle="modal" data-bs-target="#addFriendForm">Add+</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let friend of friends">
                                        <a class="text-decoration-none text-dark" [routerLink]="['/dashboard/friends/view',friend]">{{friend}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col col-sm ">
                    <div class="card-header p-2">
                        <a class="text-black text-decoration-none" routerLink="/dashboard/transaction">Transaction list</a>
                    </div>
                </div>

            </div>




        </nav>

        <main role="main" class=" col mt-2 p-0">
            <!-- Main content goes here -->



            <!-- show component in routing -->
            <router-outlet></router-outlet>




        </main>


    </div>
</div>
