<!-- container for login form component-->
<div class="container">

    <!--  inner container with 40% of screen width-->
    <div class="inner">

        <!-- form controls container -->
        <form class="form-container" [formGroup]="loginForm">
            <h3>Login </h3>
            <hr>

            <!-- textbox for email field-->
            <div class="form-control">
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" formControlName="email" placeholder="Enter your email">

                <!-- validation alerts -->
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</div>
                </div>
            </div>

            <!-- textbox for password -->
            <div class="form-control">
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" formControlName="password" placeholder="Enter password">

                <!-- validation alerts -->
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                </div>
            </div>

            <!-- submit button -->
            <div class="form-control">
                <button type="submit">Login</button>
            </div>

            <!-- forgot password link -->
            <div class="form-control"><a href="#">Forgot your password</a></div>
        </form>
    </div>
</div>
